.idea/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
CMakeLists.txt.user
*.o
*.obj
*.lo
*.la
*.al
*.libs
*.so
*.so.*
*.dylib
*.a
*.lib
*.dll
*.exe
*.out
Makefile
CMakeScripts/
build.ninja
rules.ninja
compile_commands.json
CTestTestfile.cmake
Testing/
*.log
*.tmp
*.swp
*.swo
core
core.*
.clangd/
.clangd-cache/
cmake-build-debug/
cmake-build-release/
